@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(87, 123, 223);
}

header > h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

main {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

#mostra-hora {
    font-size: 1.5em;
    margin: 20px;
}

div > img {
    width: 300px;
    height: 250px;
    border-radius: 100%;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}

footer {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-style: italic;
}